:root {
  --line-active: #009c2e;
}

body {
  font-family: "helvetica" !important;
  font-weight: 600;
}

body.gradient,
div.gradient {
  background: #f5eee0;
}

/* HEADER */
.section-header {
  z-index: 9 !important;
}
.section-header > sticky-header {
  background: #f5eee0;
}
.section-header > sticky-header > header {
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .section-header > sticky-header > header {
    padding: 20px;
  }
}
.section-header > sticky-header > header header-drawer > details > summary:before {
  min-height: 89vh;
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer {
  min-height: 89vh;
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > nav {
  padding-top: 20px;
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > nav > ul > li > a {
  text-transform: uppercase;
  font-size: 13px;
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > nav > ul > li > a.menu-drawer__menu-item--active {
  background-color: rgba(27, 170, 46, 0.1019607843);
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > .menu-drawer__utility-links {
  background-color: rgba(27, 170, 46, 0.1019607843);
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > .menu-drawer__utility-links > a {
  text-transform: uppercase;
  font-family: "helvetica";
  font-weight: 600;
  font-size: 13px;
}
.section-header > sticky-header > header header-drawer > details > .menu-drawer > .menu-drawer__inner-container > .menu-drawer__navigation-container > .menu-drawer__utility-links > a > svg {
  width: 2rem;
  margin-right: 10px;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 15px 20px;
  margin: 0 5px;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: "helvetica" !important;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
  font-weight: 600;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a span {
  font-family: inherit !important;
  font-weight: inherit;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a:hover {
  --spacing: 4px;
  --stroke: var( --line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a:hover span {
  text-decoration: none;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a span.header__active-menu-item {
  border: 0;
  text-decoration: none;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li > a > svg {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: -10px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, transparent);
  stroke-linecap: round;
  stroke-width: 4px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li:nth-child(odd) {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_2_Long.png?v=1677881483);
}
.section-header > sticky-header > header > nav.header__inline-menu > ul > li:nth-child(even) {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_1.png?v=1677881483);
}
.section-header > sticky-header > header > h1.header__heading > a.header__heading-link, .section-header > sticky-header > header > a.header__heading-link {
  transition: 0.7s;
}
.section-header > sticky-header > header > h1.header__heading > a.header__heading-link:hover, .section-header > sticky-header > header > a.header__heading-link:hover {
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.section-header > sticky-header > header > h1.header__heading > a.header__heading-link > img, .section-header > sticky-header > header > a.header__heading-link > img {
  transform-origin: center center;
  animation: interact 2s linear infinite;
}
@keyframes interact {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
.section-header > sticky-header > header > .header__icons > a > svg {
  width: 2.1rem;
}

/* DRAWER */
cart-drawer > .cart-drawer > .drawer__inner {
  background-color: var(--line-active);
}
cart-drawer > .cart-drawer > .drawer__inner > .drawer__inner-empty {
  background-color: var(--line-active);
}
cart-drawer > .cart-drawer > .drawer__inner > .drawer__inner-empty > .cart-drawer__warnings > .cart-drawer__empty-content > a.button {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Site_mock_up_3.1.23-4.png?v=1678124719);
  border: 0;
  background-color: transparent;
  background-size: cover;
  color: #000;
  padding: 18px;
}
cart-drawer > .cart-drawer > .drawer__inner > .drawer__inner-empty > .cart-drawer__warnings > .cart-drawer__empty-content > a.button:before, cart-drawer > .cart-drawer > .drawer__inner > .drawer__inner-empty > .cart-drawer__warnings > .cart-drawer__empty-content > a.button:after {
  display: none;
}
cart-drawer > .cart-drawer > .drawer__inner > .drawer__header {
  background: transparent;
}
cart-drawer > .cart-drawer > .drawer__inner > cart-drawer-items > form > .drawer__contents > .drawer__cart-items-wrapper > table.cart-items thead {
  background: transparent;
}
cart-drawer > .cart-drawer > .drawer__inner > .drawer__footer {
  background: transparent;
}

/* MAIN BANER */
.banner.banner--content-align-center {
  overflow: hidden;
  padding: 0 15px;
}
.banner.banner--content-align-center > div.banner__media {
  padding: 15px;
  box-sizing: border-box;
  background: transparent;
}
.banner.banner--content-align-center > div.banner__media > img {
  padding: 20px;
  border-radius: 94px;
  overflow: hidden;
}

/* SLIDESHOW */
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media {
  background: transparent;
}
@media screen and (max-width: 749px) {
  slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media {
    height: 70rem !important;
  }
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media:after {
  display: none;
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > a {
  z-index: 5;
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > a > img {
  padding: 20px;
  border-radius: 94px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 749px) {
  slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > a > img:first-of-type {
    display: none;
  }
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > a > img:last-of-type {
  display: none;
}
@media screen and (max-width: 749px) {
  slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > a > img:last-of-type {
    display: block;
  }
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > img {
  padding: 20px;
  border-radius: 94px;
  overflow: hidden;
}
@media screen and (max-width: 749px) {
  slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > img:first-of-type {
    display: none;
  }
}
slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > img:last-of-type {
  display: none;
}
@media screen and (max-width: 749px) {
  slideshow-component > div.slideshow > .slideshow__slide > .slideshow__media > img:last-of-type {
    display: block;
  }
}
slideshow-component > .slideshow__controls {
  position: initial;
  z-index: 5;
  border: 0;
}
slideshow-component > .slideshow__controls > button {
  color: #f9d44c;
}
slideshow-component > .slideshow__controls button:not([disabled]):hover {
  color: #ff6900;
}
slideshow-component > .slideshow__controls button.slideshow__autoplay {
  display: none;
}
slideshow-component > .slideshow__controls > button.slider-button {
  background: rgba(28, 40, 68, 0.9019607843);
  border-radius: 100%;
  transition: 0.4s ease-in;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
slideshow-component > .slideshow__controls > button.slider-button > div.wrapper-arrow {
  position: relative;
  align-items: center;
}
slideshow-component > .slideshow__controls > button.slider-button > div.wrapper-arrow > svg {
  position: relative;
  width: 100% !important;
  height: auto !important;
}
slideshow-component > .slideshow__controls > button.slider-button > div.wrapper-arrow > svg path {
  stroke: #fff;
}
slideshow-component > .slideshow__controls > button.slider-button > svg {
  position: relative;
  height: auto !important;
  width: auto;
}
slideshow-component > .slideshow__controls > button.slider-button > svg path {
  stroke: #fff;
}
slideshow-component > .slideshow__controls > button.slider-button--prev {
  position: absolute;
  left: 25px;
  top: 40%;
}
slideshow-component > .slideshow__controls > button.slider-button--prev svg {
  transform: rotate(180deg);
}
slideshow-component > .slideshow__controls > button.slider-button--prev:hover {
  transform: translateX(-4px);
}
slideshow-component > .slideshow__controls > button.slider-button--next {
  position: absolute;
  right: 25px;
  top: 40%;
}
slideshow-component > .slideshow__controls > button.slider-button--next:hover {
  transform: translateX(4px);
}
slideshow-component > .slideshow__controls > .slider-counter {
  z-index: 3;
}
slideshow-component > .slideshow__controls > .slider-counter > .slideshow__control-wrapper {
  position: absolute;
  bottom: 4%;
  z-index: 3;
}
slideshow-component > .slideshow__controls > .slider-counter > .slideshow__control-wrapper > button > span {
  border: 1px solid #f9d44c;
}
slideshow-component > .slideshow__controls > .slider-counter > .slideshow__control-wrapper > button:hover span {
  background-color: #f9d44c;
  border: 1px solid #f9d44c;
}
slideshow-component > .slideshow__controls > .slider-counter > .slideshow__control-wrapper > button.slider-counter__link--active > span {
  background-color: #f9d44c;
}

/* FEATURED PRODUCTS */
div.collection slider-component > ul > li {
  padding: 0 10px;
}
div.collection slider-component > ul > li > div.card-wrapper:hover > .card > .card__content > .card__information {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__inner {
  border-radius: 50px;
  overflow: hidden;
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content {
  display: flex;
  justify-content: center;
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_2_Long.png?v=1677881483);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 40px 40px 40px;
  margin-top: -10px;
  position: relative;
  /*&:hover{
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }*/
}
@media screen and (max-width: 500px) {
  div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information {
    background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_1_aab5019e-3530-45b7-93c1-35247991fc3b.png?v=1680136281);
    padding: 35px 45px 35px 45px;
    margin-top: 10px;
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 450px) {
  div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information {
    padding: 32px 11px 35px 17px;
  }
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information > svg {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 20px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.65s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;
}
@media screen and (max-width: 767px) {
  div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information > svg {
    width: 139px;
    top: 0;
  }
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "helvetica" !important;
}
@media screen and (max-width: 767px) {
  div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
    font-size: 13px;
  }
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 a {
  text-decoration: none;
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information {
  text-align: center;
}
div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
  margin-top: 0;
  padding: 0;
  line-height: 1em;
  font-size: 15px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  div.collection slider-component > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* FOOTER */
.shopify-section-group-footer-group footer {
  background-color: #f5eee0;
}
@media screen and (max-width: 767px) {
  .shopify-section-group-footer-group footer > .footer__content-top {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shopify-section-group-footer-group footer > .footer__content-top > .footer__blocks-wrapper > .footer-block > ul > li > a {
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .shopify-section-group-footer-group footer > .footer__content-top > .footer__blocks-wrapper > .footer-block > ul > li > a {
    font-size: 12px;
  }
}
.shopify-section-group-footer-group footer > .footer__content-top > .footer-block--newsletter > .footer-block__newsletter > form > .newsletter-form__field-wrapper > .field {
  border-bottom: 1px solid;
}
.shopify-section-group-footer-group footer > .footer__content-top > .footer-block--newsletter > .footer-block__newsletter > form > .newsletter-form__field-wrapper > .field:after, .shopify-section-group-footer-group footer > .footer__content-top > .footer-block--newsletter > .footer-block__newsletter > form > .newsletter-form__field-wrapper > .field:before {
  display: none;
}
.shopify-section-group-footer-group footer > .footer__content-top > .footer-block--newsletter > .footer-block__newsletter > form > .newsletter-form__field-wrapper > .field input {
  background: transparent;
  border: 0;
}
.shopify-section-group-footer-group footer > .footer__content-top > .footer-block--newsletter > .footer-block__newsletter > form > .newsletter-form__field-wrapper > .field input:focus {
  outline: 0;
  box-shadow: none;
}
.shopify-section-group-footer-group footer .footer__copyright.caption > small.copyright__content:nth-child(2) {
  display: none;
}

/* COLLECTION */
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid {
  justify-content: center;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li {
  padding: 0 10px;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper:hover > .card > .card__content > .card__information {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__inner {
  border-radius: 50px;
  overflow: hidden;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content {
  display: flex;
  justify-content: center;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_2_Long.png?v=1677881483);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 40px 40px 40px;
  margin-top: -10px;
  position: relative;
  /*&:hover{
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }*/
}
@media screen and (max-width: 500px) {
  body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information {
    background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_1_aab5019e-3530-45b7-93c1-35247991fc3b.png?v=1680136281);
    padding: 35px 45px 35px 45px;
    margin-top: 10px;
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 450px) {
  body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information {
    padding: 32px 11px 35px 17px;
  }
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information > svg {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 20px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.65s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;
}
@media screen and (max-width: 767px) {
  body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information > svg {
    width: 139px;
    top: 0;
  }
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "helvetica" !important;
}
@media screen and (max-width: 767px) {
  body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
    font-size: 13px;
  }
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information > h3 a {
  text-decoration: none;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information .card-information {
  text-align: center;
}
body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
  margin-top: 0;
  padding: 0;
  line-height: 1em;
  font-size: 15px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  body.template-collection > main > div.shopify-section .product-grid-container > div.collection ul#product-grid > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* PRODUCT */
body.template-product div:empty {
  display: none;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 989px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery {
    flex-direction: column;
    padding-right: 20px;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery {
    padding: 0;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type {
  width: 100%;
  max-width: 70%;
}
@media screen and (max-width: 989px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type {
    max-width: 100%;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type {
    margin: 0;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type > ul.product__media-list > li.product__media-item {
    width: 100%;
    margin: 0;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type > ul.product__media-list > li.product__media-item > div.media-type-image {
  border: 0;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type > ul.product__media-list > li.product__media-item > div.media-type-image > modal-opener > .product__media > img {
  border-radius: 100px;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:first-of-type > .slider-buttons > .slider-counter.caption {
    display: none;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type {
  width: auto;
  max-width: 30%;
}
@media screen and (max-width: 989px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type {
    max-width: 100%;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
@media screen and (max-width: 989px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list > li {
  padding-bottom: 15px;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list > li:before {
  display: none;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list > li > button {
  position: relative;
  border-radius: 30px;
  max-width: 170px;
  margin: auto;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list > li > button {
    max-width: 100%;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .grid__item.product__media-wrapper > media-gallery > slider-component:last-of-type > ul.thumbnail-list > li > button img {
  display: flex;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item {
  padding-left: 20px;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item {
    padding-left: 0;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info {
    display: flex;
    flex-direction: column;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > .product__title {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Site_mock_up_3.1.23-4.png?v=1678124719);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 35px;
  display: inline-block;
  margin-bottom: 15px;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > .product__title {
    display: block;
    padding: 20px;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > .product__title > h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "helvetica";
  font-weight: 600;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > .product__title.big {
  padding: 47px 40px;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div {
  margin: 0;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div > div.price {
  border-top: 1px solid #000;
  padding-top: 15px;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form form {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons {
    width: 100%;
    max-width: 100%;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .product-form__submit {
  background-color: #000;
  color: #fff;
  width: auto;
  min-width: 150px;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .product-form__submit {
    width: 100%;
    max-width: 100%;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .shopify-payment-button button {
  background-color: #fff;
  color: #000;
  width: auto;
  min-width: 150px;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .shopify-payment-button button {
    width: 100%;
    max-width: 100%;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .shopify-payment-button div[data-testid=ShopifyPay-button] {
  width: 200px !important;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .shopify-payment-button div[data-testid=ShopifyPay-button] {
    width: 100% !important;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form .product-form__buttons .shopify-payment-button button[data-testid=sheet-open-button] {
  display: none !important;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form > a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  margin-top: 5px;
}
@media screen and (max-width: 1300px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form > a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form > a {
    margin-top: 20px;
    display: block;
  }
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div product-form > a {
    width: 100%;
    text-align: center;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div.product__description {
  margin: 0;
}
@media screen and (max-width: 749px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info > div.product__description {
    order: 8;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info variant-radios > fieldset > label {
  border-radius: 0;
  background: transparent;
  font-size: 12px;
  color: #000;
  border: 1px solid transparent;
}
@media screen and (max-width: 500px) {
  body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info variant-radios > fieldset > label {
    margin: 0 10px;
  }
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info variant-radios > fieldset > input {
  visibility: hidden;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info variant-radios > fieldset input[type=radio]:checked + label {
  border: 3px solid #afcbf3;
  background-color: #f9d44a;
}
body.template-product > main > section.shopify-section > section.page-width > .product.product--large > .product__info-wrapper.grid__item > product-info variant-radios > span.find-size {
  color: #000;
  font-size: 12px;
  display: none;
}

/*CustomerCare*/
.customercare a {
  color: #000;
}
.customercare > .grid-wrap {
  width: 100%;
}
.customercare > .grid-wrap > .grid__item {
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .customercare > .grid-wrap > .grid__item {
    flex-direction: column-reverse;
  }
}
.customercare > .grid-wrap > .grid__item > .customer-nav {
  width: 100%;
  max-width: 25%;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .customercare > .grid-wrap > .grid__item > .customer-nav {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
}
.customercare > .grid-wrap > .grid__item > .customer-nav > .sidebar .title-menu-care {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1rem;
  font-family: "helvetica";
  color: #000;
}
.customercare > .grid-wrap > .grid__item > .customer-nav > .sidebar ul.sidebar-customer-experience {
  list-style: none;
  margin: 0;
  padding: 0;
}
.customercare > .grid-wrap > .grid__item > .customer-nav > .sidebar ul.sidebar-customer-experience li {
  margin-bottom: 5px;
  font-size: 15px;
}
.customercare > .grid-wrap > .grid__item > .customer-nav > .sidebar ul.sidebar-customer-experience li a {
  color: #000;
  text-decoration: none;
}
.customercare > .grid-wrap > .grid__item > .customer-nav > .sidebar ul.sidebar-customer-experience li a:hover {
  text-decoration: underline;
}
.customercare > .grid-wrap > .grid__item .page__content {
  width: 100%;
  max-width: 75%;
}
@media screen and (max-width: 767px) {
  .customercare > .grid-wrap > .grid__item .page__content {
    margin-top: 0;
    max-width: 100%;
  }
}
.customercare > .grid-wrap > .grid__item .page__content > h2, .customercare > .grid-wrap > .grid__item .page__content > .contact-us h2 {
  font-size: 13px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "helvetica" !important;
  line-height: 1rem;
}
.customercare > .grid-wrap > .grid__item .page__content > div p.title-contac {
  display: flex;
  align-items: center;
}
.customercare > .grid-wrap > .grid__item .page__content > div p.title-contac .icon {
  padding-right: 0;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect > p {
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 0;
  pointer-events: none;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect > p img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect > div {
  max-height: 0;
  overflow: hidden;
  overflow-x: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect > div p {
  letter-spacing: -0.58px;
  line-height: 30px;
  margin-bottom: 0;
  font-size: 15px;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect h4 {
  font-size: 14px;
  font-weight: 600;
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect.active-toggle > p img {
  transform: rotate(180deg);
}
.customercare > .grid-wrap > .grid__item .page__content > div.accordion-effect.active-toggle > div {
  max-height: 3000px;
  margin: 0;
  padding-top: 15px;
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div:last-of-type {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div {
  border-bottom: 2px solid #EAEAEA;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div h1 {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: 749px) {
  .customercare > .grid-wrap > .grid__item .page__content > div.terms > div h1 {
    font-size: 20px;
  }
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div h2 {
  color: #3F2E77;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.49px;
  line-height: 26px;
  position: relative;
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div h2 img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
@media screen and (max-width: 749px) {
  .customercare > .grid-wrap > .grid__item .page__content > div.terms > div h2 img {
    display: block;
  }
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms > div p {
  letter-spacing: -0.58px;
  line-height: 30px;
}
@media screen and (max-width: 749px) {
  .customercare > .grid-wrap > .grid__item .page__content > div.terms > div.accordion p {
    max-height: 0;
    overflow: hidden;
    overflow-x: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 749px) {
  .customercare > .grid-wrap > .grid__item .page__content > div.terms .accordion.active-effect h2 {
    cursor: pointer;
  }
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms .accordion.active-effect h2 img {
  transform: rotate(180deg);
}
.customercare > .grid-wrap > .grid__item .page__content > div.terms .accordion.active-effect p {
  max-height: 3000px;
  margin: 10px 0;
}

.terms-and-privacy {
  width: 100%;
  max-width: 100%;
  margin: auto;
  color: #000;
  box-sizing: border-box;
}
@media screen and (max-width: 850px) {
  .terms-and-privacy {
    max-width: 100%;
  }
}
.terms-and-privacy p, .terms-and-privacy h1, .terms-and-privacy h2 {
  color: #000;
}
.terms-and-privacy h3 {
  font-weight: normal;
}

product-recommendations > h2 {
  text-align: center;
  margin-bottom: 20px;
}
product-recommendations > ul > li {
  padding: 0 10px;
}
product-recommendations > ul > li > div.card-wrapper:hover > .card > .card__content > .card__information {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__inner {
  border-radius: 50px;
  overflow: hidden;
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content {
  display: flex;
  justify-content: center;
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information {
  background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_2_Long.png?v=1677881483);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 40px 40px 40px;
  margin-top: -10px;
  position: relative;
  /*&:hover{
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }*/
}
@media screen and (max-width: 500px) {
  product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information {
    background-image: url(https://cdn.shopify.com/s/files/1/0730/8558/3663/files/AFM_Tab_1_aab5019e-3530-45b7-93c1-35247991fc3b.png?v=1680136281);
    padding: 35px 45px 35px 45px;
    margin-top: 10px;
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 450px) {
  product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information {
    padding: 32px 11px 35px 17px;
  }
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information > svg {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 20px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.65s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;
}
@media screen and (max-width: 767px) {
  product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information > svg {
    width: 139px;
    top: 0;
  }
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "helvetica" !important;
}
@media screen and (max-width: 767px) {
  product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 {
    font-size: 13px;
  }
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information > h3 a {
  text-decoration: none;
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information {
  text-align: center;
}
product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
  margin-top: 0;
  padding: 0;
  line-height: 1em;
  font-size: 15px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  product-recommendations > ul > li > div.card-wrapper > .card > .card__content > .card__information .card-information .price {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* ABOUT */
.wrapper--content--about {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.wrapper--content--about > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
@media screen and (max-width: 749px) {
  .wrapper--content--about > div {
    flex-direction: column;
    padding: 20px;
  }
}
.wrapper--content--about > div:before {
  content: "";
  display: flex;
  width: 1px;
  height: 50%;
  background: #00aa18;
  order: 2;
  position: absolute;
}
@media screen and (max-width: 749px) {
  .wrapper--content--about > div:before {
    display: none;
  }
}
.wrapper--content--about > div > div.txt {
  flex-basis: 50%;
  padding-right: 100px;
  order: 1;
}
@media screen and (max-width: 749px) {
  .wrapper--content--about > div > div.txt {
    margin-bottom: 40px;
    padding-right: 0;
  }
}
.wrapper--content--about > div > div.txt > img {
  width: 100%;
  max-width: 100px;
  margin: auto;
}
@media screen and (max-width: 980px) {
  .wrapper--content--about > div > div.txt > img {
    max-width: 50px;
  }
}
.wrapper--content--about > div > div.txt > p {
  text-align: left;
  font-size: 15px;
  line-height: 2.2rem;
}
@media screen and (max-width: 980px) {
  .wrapper--content--about > div > div.txt > p {
    font-size: 13px;
  }
}
.wrapper--content--about > div > .image {
  flex-basis: 40%;
  order: 3;
}
.wrapper--content--about > div > .image > img {
  width: 100%;
}

/*# sourceMappingURL=afm.css.map */
