<div class="page-width">
  <div class="grid" style="display:block;">
    <div class="grid_item medium-up--five-sixths medium-up--push-one-twelfth" style="width:100%;max-width:1000px;margin:auto">

      <div class="rte info-page">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>