<div class="wrapper--content--about">
  <div>
    <div class="txt">
      <img src="https://cdn.shopify.com/s/files/1/0730/8558/3663/files/Action_Figure_Logo_Final.png?v=1678151176" alt="logo">
      <p>The Action Figure Miles character is a representation of the sadness I had grown up, having a mentally ill father and a drug addict mother, and the culmination of my own struggles with mental illness.</p>
      <p>Eventually, I conceptualized this blue man character as an action figure brought to life, whose real power lies in his compassion and ability to uplift others, despite his own melancholy.</p>
      <p>Action Figure Miles is created in the image of an imperfect person; he is never so good or pure as to make him unrelatable, and yet his strong sense of empathy and morality makes him an admirable role model. Action Figure Miles exists to prove that honor and good intentions will lead to success in the long run, even if you may experience failures along the way.</p>
    </div>   
    <div class="image">
      <img src="https://cdn.shopify.com/s/files/1/0730/8558/3663/files/image.png?v=1680036468" alt="about">
    </div>
  </div>  
</div>