<div class="page-width customercare">

  <div class="grid-wrap">
    <div class="grid__item">
      <div class="grid_item one-quarter  small--one-whole customer-nav">
        <div class="sidebar sidebar-additional">
          <div class="title-menu-care">Customer Care</div>
          <ul class="sidebar-customer-experience">
            {% for link in linklists.customer.links %}
            <li class="nav item" >{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>                              
      </div>

      <div class="grid__item one-whole page__content">
        {{ page.content }}
      </div>
      
    </div>
  </div>
</div>